@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    margin: 0;
    font-family:sans-serif;
}

/*Navbar*/

header {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3.5%;
}

header li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #24252A;
  text-decoration: none;
}

.nav-logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 10px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

.nav-button {
  font-size: 12px;
  padding: 8.5px 10px;
  color: azure;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav-button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*Pesquisa de Receitas*/

.pesquisa {
  background-image: url("Imagens/Pesquisar-fundo.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 520px;
  box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);

  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*Pesquisa de Receitas -> Barra de pesquisa*/

.pesquisa-conteudo {
  margin: 0;
  position: relative;
}

.pesquisa-searchbar {
  width: 300px;
  font-size: 20px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 20px;
  transition: all .7s;
  transition-delay: .1s;
}

.pesquisa-searchbar:hover {
  width: 350px;
  height: 25px;
}

/*Corpo do Conteudo*/

.conteudo {
  margin: 0 10%;
}

/*Receita do dia*/

.conteudo-dia {
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(209, 238, 248, 0.815);
  border-radius: 40px;
}

.conteudo-dia .dia-divisao {
  width: 50%;
}

.conteudo-dia .dia-divisao img {
  width: 95%;
  height: 100%;
  border-radius: 40px 0 0 40px;
}

.dia-divisao .coracao {
  color: red;
}

.conteudo-dia .divisao-titulo {
  margin: 10px 0px;
  font-size: 50px;
}

.conteudo-dia .divisao-descricao {
  margin-top: 30px;
}

/*Botões*/

/*Botões -> Informações*/

.divisao-informacoes .button-relogio,.button-doses,.button-dificuldade {
  height: 30px;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.427);
  border: 0;
  border-radius: 80px;
  box-sizing: border-box;
  color: #000000b6;
  display: inline-flex;
  font-size: 12px;
  font-weight: 550;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
}

/*Botões -> Ver Mais*/

.dia-divisao .divisao-button-mais {
  height: 35px;
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 80px;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-flex;
  font-size: 12px;
  font-weight: 550;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.dia-divisao .divisao-button-mais:hover { 
  background-color: #16437E;
  color: #ffffff;
}

.dia-divisao .divisao-button-mais:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

/*Cards das Categorias*/

.categoria-grid {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.categoria-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 6px;
}

.categoria-card:hover {
  box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
  width: 101%;
  height: 100%;
}

.categoria-card img {
  border-radius: 5px 5px 0 0;
  width:100%;
}

.categoria-card .container {
  padding: 2px 16px;
}

.card-button {
  margin-bottom: 15px;
}

/*Email*/

.email {
  text-align: center;
  background-color: rgba(209, 238, 248, 0.815);
  border-radius: 40px;
}

/*Footer*/

footer{
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0px;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

