/*Fontes*/

/*Navbar*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/*Descrições*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

/*Titulo - Secções*/
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/*Titulo - Receita*/

/*Css*/

body {
    margin: 0;
    font-family: sans-serif;
}

.titulos-seccoes {
    font-family: 'Kalam', sans-serif;
    font-size: 180%;
}

/*Navbar*/

header {
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3.5%;
}

header li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #24252A;
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.nav-button {
    font-size: 12px;
    padding: 8.5px 10px;
    color: azure;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/*Corpo*/

.conteudo {
    margin: 0 10%;
}

/*Titulo + Botão de Informações*/

.conteudo-titulo .titulo, .informacoes {
    text-align: center;
}

.conteudo-titulo .informacoes button {
    height: 30px;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.427);
    border: 0;
    border-radius: 80px;
    box-sizing: border-box;
    color: #000000b6;
    display: inline-flex;
    font-size: 12px;
    font-weight: 550;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

/*Receita*/

/*Secção - Imagem + Ingredientes*/

.conteudo-ingredientes {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(209, 238, 248, 0.815);
    border-radius: 15px;
    margin-top: 1vw;
}

.conteudo-ingredientes .ingredientes-divisao {
    width: 50%;
}

.conteudo-ingredientes .ingredientes-divisao img {
    width: 95%;
    height: 100%;
    border-radius: 15px;
}

.conteudo-ingredientes .divisao-titulo {
    margin: 10px 0px;
    font-size: 50px;
}

.conteudo-dia .divisao-descricao {
    margin-top: 2%;
    font-family: 'Karla', sans-serif;
    padding-right: 6%;
    font-size: 0.8vw;
}

/*Preparação*/

.preparacao-divisao {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(209, 238, 248, 0.815);
    border-radius: 20px;
    margin-top: 1vw;
}

.preparacao-divisao .preparacao-coluna {
    width: 50%;
}

.preparacao-divisao .preparacao-coluna p {}

/*Sugestão de Receitas*/

.conteudo-receitas-titulo {}

/*Cards*/

.conteudo-cards {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.receitas-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 6px;
}

.receitas-card:hover {
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
    width: 101%;
    height: 100%;
}

.receitas-card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.receitas-card .container {
    padding: 2px 16px;
}

.receitas-card .container p {
    font-family: 'Karla', sans-serif;
    max-width: 100%;
}

.card-button {
    height: 35px;
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 80px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-flex;
    font-size: 12px;
    font-weight: 550;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.card-button:hover {
    background-color: #16437E;
    color: #ffffff;
}

.card-button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}


/*Footer*/

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    color: #fff;
}

.footer-content {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 5vw;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.footer-content .footer-left {
    justify-content: center;
    text-align: center;
}

.footer-content-img {
    width: 15vw;
}

.footer-content .footer-center {
    justify-content: center;
    text-align: center;
    margin-bottom: 1vw;
    margin-left: 4.5vw;
}

.footer-content .footer-center .footer-center-title {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    margin-bottom: 2vw;
}

.footer-content .footer-center .footer-center-description {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.footer-content .footer-right {
    justify-content: center;
    text-align: center;
    margin-right: 4.5vw;
}

.footer-content .footer-right .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    padding: 0;
}

.footer-content .footer-right .socials li {
    margin: 0 10px;
}

.footer-content .footer-right .socials a {
    text-decoration: none;
    color: azure;
    padding: 10px;
}

.footer-content .footer-right .socials a i {
    font-size: 1.5rem;
    width: 25px;
    transition: color .4s ease;
}

.footer-content .footer-right .socials a:hover i {
    color: rgb(162, 173, 173);
}